Please support HEAD HTTP requests to https://anaconda.org/conda-forge/PACKAGE

### Checklist

- [X] I added a descriptive title.
- [X] I searched through [existing issues](https://github.com/ContinuumIO/anaconda-issues/issues) and couldn't find a solution or duplicate issue.
- [X] I searched on the web (e.g. Google) and didn't find any helpful information.
- [X] I searched the [Anaconda documentation](https://docs.anaconda.com/) and didn't find any helpful information.

### Impacted product

- [ ] A conda package (built by Anaconda)
- [ ] Anaconda Distribution (formerly Anaconda Individual Edition)
- [ ] Miniconda
- [X] Anaconda.org

### What happened?

Currently, sending a `HEAD` request to https://anaconda.org/conda-forge/PACKAGE (e.g. https://anaconda.org/conda-forge/r-tiledb) fails with 400 Bad Request. Robots like `R CMD check` use `HEAD` requests to check the validity of URLs mentioned in documentation to keep it from getting stale. Moreover, [RFC 9110 section 9.3.2] defines `HEAD` as identical to `GET` except without the content in the response (the server is also allowed to omit some of the expensive-to-calculate headers).

This has caused [problems for a conda-forge package, failing a URL check for a badge with a link in it](https://stat.ethz.ch/pipermail/r-package-devel/2023q4/010141.html).

Steps to reproduce:

```
$ curl -I https://anaconda.org/conda-forge/r-tiledb
HTTP/2 400
# (headers continue)
```

### Expected behavior or outcome

```
$ curl -I https://anaconda.org/conda-forge/r-tiledb
HTTP/2 200
# (headers continue)
```


### Conda info

_No response_

### Conda config

_No response_

### Conda list

_No response_

### Additional information

_No response_